@font-face {
  font-family: "Orinoco";
  src: url("../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.eot");
  src: url("../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.ttf") format("ttf"), url("../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.otf") format("otf"), url("../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.woff2") format("woff2"), url("../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.woff") format("woff"), url("../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.svg") format("svg");
  font-weight: lighter;
  font-style: normal;
}
#list-Products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  flex-wrap: wrap;
}

.boxProduit {
  display: flex;
  transition: all 500ms;
}
.boxProduit:hover {
  transform: scale(1.06);
}

.boxPrice {
  position: relative;
  left: 350px;
  top: -15px;
  height: 50px;
  background-color: purple;
}
.boxPrice .prixProduits {
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px;
  margin: 5px;
}

.product {
  border: 1px solid grey;
  border-radius: 6px;
  box-shadow: 5px 5px 10px grey;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin: 20px;
  font-weight: normal;
  max-width: 300px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.boiteImages {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.images {
  padding: 5px;
  margin: 5px;
  height: 150px;
}

.nomProduit {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

.resumeProduits {
  text-align: justify;
  padding: 5px;
  margin: 5px;
}

#product-solo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 2px solid #8f5bfe;
  border-radius: 10px;
  padding: 50px;
  margin: 50px;
}

#titreProduit {
  font-size: 3em;
  font-weight: bold;
}

#image,
#resume,
#prix {
  font-size: 1.6em;
}

#image,
#titreProduit {
  text-align: center;
}

#descriptionProduit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resume {
  width: 600px;
  text-align: justify;
}

#prix {
  font-weight: bold;
  text-align: right;
}

#choixCouleurs {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
#choixCouleurs p {
  padding: 10px;
  margin: 0px;
}

#bouton {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-top: 30px;
}
#bouton button {
  padding: 10px;
  margin: 10px;
}

#titrePanier {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

#list-panier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 30px;
  margin: 0px;
}

.boiteProduit,
#totalPrix {
  padding: 20px;
  margin: 20px;
}

.boiteProduit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

#couleurProduit {
  font-size: 1.3em;
  padding: 0px;
  margin: 20px;
}
#couleurProduit strong {
  text-decoration: underline;
  font-weight: bold;
}

.prixProduit {
  font-weight: bold;
  font-size: 1.5em;
}

#totalPrix {
  display: flex;
  flex-direction: "row";
  justify-content: right;
  align-items: center;
  padding: 10px;
  margin: 20px;
  text-align: right;
  font-weight: bold;
  font-size: 1.8em;
}
#totalPrix p {
  padding: 10px;
  margin: 0px;
}

form {
  font-size: 1.2em;
}
form div {
  display: flex;
}
form div p {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 20px;
}
form div p label {
  margin-bottom: 10px;
}
form div p input {
  min-width: 250px;
  height: 30px;
}

#legende strong, form strong {
  font-weight: bold;
  color: red;
}

#boxBtn {
  display: flex;
  flex-direction: "row";
  justify-content: right;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
#boxBtn .bouton {
  font-size: 1em;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

header,
footer {
  background-color: #414141;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 0px;
  color: white;
}
header a {
  color: white;
}
header #titreSite {
  font-family: "Orinoco";
  font-weight: lighter;
  font-size: 1.8em;
  font-style: oblique;
  padding: 0px;
  margin: 5px;
}

.logoOrinoco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logoOrinoco i,
.logoOrinoco p {
  padding: 0px;
  margin: 5px;
  font-size: 1em;
}
.logoOrinoco .caddie {
  background: -webkit-linear-gradient(left, #d4803b, #8e5afd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logoOrinoco p {
  font-family: "Orinoco";
  font-weight: lighter;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 40px;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 10px;
}
nav li {
  padding: 0px;
  margin: 0px;
}

#panier :hover {
  color: blue;
  font-size: 1.1em;
}

#lienAccueil :hover {
  font-style: italic;
}

#list-Products {
  background-color: #e2e2e2;
  padding: 50px;
  margin: 0px;
  width: auto;
  height: auto;
}

footer {
  color: white;
  padding: 20px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
footer p {
  text-decoration: underline;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
footer a {
  text-decoration: none;
  font-weight: normal;
  color: white;
}
footer ul {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
footer ul li {
  padding: 0px;
  margin: 10px;
}
footer ul li :hover {
  color: blue;
}

/*# sourceMappingURL=style.css.map */
