$coul-fond : rgb(65, 65, 65);
$coul-trait : rgb(143, 91, 254);
$coul-degrade1 : rgb(212, 128, 59);
$coul-degrade2 : rgb(142, 90, 253);

$policeOrinoco : 'Orinoco';

$largeur : 300px;
$petiteLargeur : 250px;

$breakpoints : (
    ordi : 1650px,
    petitOrdi : 1200px,
    tablette : 850px,
    mobile : 600px
);

$logoOrinoco : (
    url : "../images/logoOrinoco3.png",
    height : 50px, 
    width : 111px
);

$nav : (
    height : 40px,
    width : 250px
);