@import "./mixins";
@import "./variables";
@import "./index.scss";
@import "./product.scss";
@import "./basket.scss";

//Mise en forme commune à toutes les pages
body {
    background-color: $coul-fond;
    @include marges(0px, 0px);
    width: 100%;
}

header {
    @include flex (row, space-between, center);
    text-align: center;
    margin: 0px 50px 0px 50px;
    padding: 0px;
}

.logoOrinoco {
    background-image: url(map-get($logoOrinoco, url));
    background-repeat: no-repeat;
    height: map-get($logoOrinoco, height);
    width: map-get($logoOrinoco, width);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav {
    @include bordureArrondie (1px, solid,
        $coul-trait, 15px);
    @include flex (column, center, stretch);
    height: map-get($nav, height);
    width: map-get($nav, width);
}

ul {
    list-style: none;
    @include flex (row, space-around, center);
    @include marges(10px, 0px);
}

li {
    @include marges(0px, 0px);
}

#panier :hover {
    color: blue;
    font-size: 1.1em;
}

#lienAccueil :hover {
    font-style: italic;
}

section {
    background-color: white;
    @include marges(0px, 50px);
    width: auto;
    height: auto;
}

footer {
    text-align: center;
    @include marges(30px, 0px);

    & p {
        text-decoration: underline;
        font-weight: bold;
        @include marges(20px, 10px);
    }

    & a {
        text-decoration: underline;
        font-weight: normal;
    }

    & li :hover {
        color: blue;
    }
}