@import "./mixins";
@import "./fonts";
@import "./variables";
@import "./index.scss";
@import "./product.scss";
@import "./basket.scss";
@import "./ordered.scss";

//Mise en forme commune à toutes les pages
body {
    @include marges(0px, 0px);
    width: 100%;
}

header,
footer {
    background-color: $coul-fond;
}

header {
    @include flex (row, space-between, center);
    text-align: center;
    @include marges(0px, 10px);
    color: white;

    & a {
        color: white;
    }

    & #titreSite {
        font-family: 'Orinoco';
        font-weight: lighter;
        font-size: 1.8em;
        font-style: oblique;
        @include marges(5px, 0px);
    }
    @include mobile{
        @include flex(column, center, center);
    }
}

.logoOrinoco {
    @include flex(row, center, center);

    & i,
    p {
        @include marges(5px, 0px);
        font-size: 1em;
    }

    & .caddie {
        @include degraderCouleurs(left, $coul-degrade1, $coul-degrade2);
    }

    & p {
        font-family: $policeOrinoco;
        font-weight: lighter;
    }
    @include mobile{
        display: none;
    }
}

a {
    text-decoration: none;
}

nav {
    @include flex (column, center, stretch);
    height: map-get($nav, height);
    width: map-get($nav, width);
    font-family: Arial, Helvetica, sans-serif;

    & ul {
        list-style: none;
        @include flex (row, space-around, center);
        @include marges(10px, 0px);
    }

    & li {
        @include marges(0px, 0px);
    }
}

#panier :hover, #lienAccueil :hover {
    font-size: 1.1em;
    font-weight: bold;
}

#list-Products {
    background-color: rgb(226, 226, 226);
    @include marges(0px, 50px);
    width: auto;
    height: auto;
    @include flex(column, center, left);
    @include mobile{
        @include marges(0px, 0px);
    }
}

footer {
    color: white;
    @include marges(0px, 20px);
    @include flex(row, space-between, flex-end);

    & p {
        text-decoration: underline;
        font-weight: bold;
        @include marges(0px, 0px);
    }

    & a {
        text-decoration: none;
        font-weight: normal;
        color: white;
    }

    & ul {
        list-style: none;
        @include marges(5px, 5px);

        & li {
            @include marges(10px);

            & :hover {
                color: blue;
            }
        }
    }
}