//Mise en forme spécifique à la page produit
#product-solo {
    @include flex(column, center, stretch);
    @include bordureArrondie(2px, solid, $coul-trait, 10px);
    @include marges(50px, 50px);

    @include mobile {
        @include marges(20px, 0px);
    }
}

#titreProduit {
    font-size: 3em;
    font-weight: bold;
    @include mobile{
        font-size: 2.5em;
    }
}

#image,
#resume,
#prix {
    font-size: 1.6em;
}

#image img {
    @include mobile {
        width: 300px;
        height: auto;
    }
}

#image,
#titreProduit {
    text-align: center;
}

#descriptionProduit {
    @include flex(column, center, center);
}

#resume {
    width: $largeur*2;
    text-align: justify;
    @include mobile{
        width: auto;
        @include marges(0px, 10px);
    }
}

#prix {
    font-weight: bold;
    text-align: right;
    @include mobile{
        @include marges(0px, 10px);
    }
}

#persoProduit {
    @include flex(row, right, center);
    & p {
        @include marges(0px, 10px);
    }
    @include mobile{
        @include marges(0px, 10px);
    }
}

#bouton {
    @include flex(row, right, center);
    margin-top: 30px;
    & button {
        @include marges(10px, 10px);
    }
    @include mobile{
        @include marges(20px, 0px);
        justify-content: center;
    }
}