@font-face {
    font-family: 'Orinoco';
    src: url('../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.eot');
    src: url('../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.ttf') format('ttf'),
         url('../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.otf') format('otf'),
         url('../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.woff2') format('woff2'),
         url('../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.woff') format('woff'),
         url('../fonts/CCAstronautsInTrouble/CCAstronautsInTrouble.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}