//Mise en forme spécifique à la page d'accueil

.groupeProduits{
    @include marges(20px, 0px);
    @include flex(row, center, center);
    @include mobile{
        @include marges(0px, 0px);
    }
}

.boxProduit{
    display : flex;
    transition: all 500ms;
    &:hover {
        transform: scale(1.06);
        @include mobile{
            transform: none;
        }
    }
    @include mobile{
        @include flex(column, center, center);
        
    }
}

.boxPrice {
    position: relative;
    left: 350px;
    top : -15px;
    height: 50px;
    background-color: purple;
    & .prixProduits {
        text-align: right;
        color : white;
        font-weight: bold;
        font-size: 1.5em;
        @include marges(5px, 5px);
    }
    @include mobile{
        display: none;
    }
}

.product {
    @include bordureArrondie(1px, solid, grey, 6px);
    box-shadow: 5px 5px 10px grey;
    background-color: rgba(255, 255, 255, 0.6);
    @include marges(20px, 10px);
    font-weight: normal;
    width: $largeur;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    @include mobile{
        @include marges(10px, 10px);
    }
}

.boiteImages {
    text-align: center;
    @include marges(10px, 10px);
}

.images {
    @include marges(5px, 5px);
    height: $largeur / 2;
}

.nomProduit {
    @include marges(5px, 5px);
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
}

.resumeProduits {
    text-align: justify;
    @include marges(5px, 5px);
}