#validationCommande{
    @include marges(0px, 100px);
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
}

#aucuneCommande{
    @include marges(0px, 50px);
    background-color: white;
    font-weight: normal;
    text-align: center;
    @include mobile{
        @include marges(0px, 20px);
    }
}

#remerciement, #montantCommande, #numeroCommande{
    @include marges(0px, 20px);
    text-align: center;
    font-weight: normal;
    background-color: white;
}

#titreMerci{
    padding-top: 50px;
}

#numeroCommande{
    padding-bottom: 50px;
}